.main-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.f2-pdx:nth-child(odd){
  background-color: #f8f8f8;
}

.container-section:nth-child(odd){
  display: flex;
  flex-direction: row-reverse;
}