.product-container {
  height: 100vh;
  width: 100vw;

  .banner-produto {
    height: 800px;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 10%;

    .txt-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 35%;

      h1 {
        font-size: 40px
      }

      p {
        font-size: 25px;
      }
    }
  }

  .content-product {
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .small-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }

  .product-device {
    height: 800px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;

    .content-device {
      width: 85%;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10%;

      .radius-device {
        height: 97%;
        width: 50%;
        max-width: 750px;
        min-width: 700px;
        border-radius: 100%;
        background-color: #fcb803;
        display: flex;
        align-items: center;
        padding: 0 10%;

        .txt-hidden {
          display: flex;
          width: 350px;
          color: #000;
          flex-direction: column;
          gap: 15px;

          h1 {
            display: none;
            font-size: 40px;
          }

          p {
            display: none;
            font-size: 25px;
          }
        }
      }

      .txt-container {
        width: 350px;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 25px;
        }
      }
    }
  }
}

.container-product {
  width: 300px;
  border-radius: 50px;
  background: rgba(245, 245, 247, 0.90);
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.10);
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-product:hover {
  transform: scale(1.05);
}

@media(max-width: 1280px) {

  .product-device {

    .content-device {

      .radius-device {

        .txt-hidden {

          p {
            display: block;
          }

          h1 {
            display: block;
          }
        }
      }

      .txt-container {
        visibility: hidden;
      }
    }
  }

}